* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
    box-sizing: border-box;
}

/* Header */
.main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.laptop-header {
    display: none;
}

#name {
    padding: .5em 0;
    align-self: center;
    margin-top: 1em;
}

.nav {
    align-self: center;
    list-style: none;
    width: 90%;
    text-align: center;
    padding-bottom: 1.5em;
}

li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;
    padding: 8px 16px; 
    border-bottom: .4em solid whitesmoke;  
}

li a:hover {
    background-color: teal;
    color: white;
}

#profile {
    display: flex;
    flex-direction: column;
}

img {
    width: 80%;
    align-self: center;
}
#profile-text {
    margin: 1.5em 0;
    text-align: center;
}

/* Portfolio */
#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#portfolio img {
    width: 100%;
}

#portfolio h2 {
    text-align: center;
    padding: 1.5em 0;
}
#portfolio h3 {
    padding: 1em 0;
    text-align: center;
}

#portfolio p {
    padding-bottom: 1.5em;
    text-align: center;
}

/* Contact */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
}

#contact p {
    padding-top: 1.2em;
    text-align: center;
}

#contact-info {
    padding: .5em 0;
}

/* Footer */
.footer-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-2{
    display: none;
}

p {
    margin: 1.5em 0;
}

p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Media Queries */
@media only screen and (min-width:768px) {
    /* Header */
    .main-header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .nav {
        margin-top: 1.2rem;
        display: flex;
        justify-content: center;
        text-decoration: none;
        margin-bottom: 1.2em;
    }

    li a {
        background-color: whitesmoke;
    }

    li a:hover {
        border-bottom: 1px solid teal;
        color: black;
        background-color: whitesmoke;
    }

    #profile {
        display: flex;
        flex-direction: row-reverse;
    }

    #profile img {
        margin: 0 1.2em;
    }

    #profile p {
        margin: 0 1.2em;
        text-align: left;
    }
    
    /* Portfolio */
    #portfolio {
        display: flex;
        flex-direction: column
    }

    #image-1,
    #image-2,
    #image-3,
    #image-4,
    #image-5,
    #image-6 {
        flex: 1 50%;
        padding: 0 15px;
        min-height: 450px;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
         
    }

    /* Contact */
    #contact {
        display: flex;
    }

    #contact p {
        text-align: center;
        width: 85%;
    }

    #contact-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-1 {
        display: none;
    }

    .footer-2 {
        display: flex;
        margin: 1rem 1rem;
        /*Needs Edit*/
    }

 

   

@media only screen and (min-width:1024px) {
    /* Header */
    .main-header {
        display: none
    }



    .laptop-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
        margin-left: 3rem;
        margin-bottom: 3rem;
        width: 91%;
      
    }

    .laptop-nav {
        display: flex;
        list-style: none;
        font-size: 19px
    }

    header #profile-text {
        margin: 0 3rem;
    }

    /* Portfolio */
    #image-1,
    #image-2,
    #image-3,
    #image-4,
    #image-5,
    #image-6 {
        flex: 1 33%;
        padding: 0 15px;
        min-height: 450px;
    }


    }

    /* Contact */
    #contact p {
        width: 60%;
    }

    /* Footer */
    .footer-1 #back-to-top {
        display: none;
    }

    .footer-2 .nav {
        display: flex;
       justify-content: flex-end;
         /*Needs Edit*/
    }

}





