* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
}

/* Header */
.main-header {
    display: flex;
    flex-direction: column;
}

#name {
    padding: .5em 0;
    align-self: center;
    margin-top: 1em;
}

.nav {
    align-self: center;
    list-style: none;
    width: 90%;
    text-align: center;
    padding-bottom: 1.5em;
}

li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;
    padding: 8px 16px; 
    border-bottom: .4em solid whitesmoke;  
}

li a:hover {
    background-color: teal;
    color: white;
}

#profile {
    display: flex;
    flex-direction: column;
}

img {
    width: 80%;
    align-self: center;
}
#profile-text {
    margin: 1.5em 0;
    text-align: center;
}

/* Portfolio */
#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#portfolio img {
    width: 100%;
}

#portfolio h2 {
    text-align: center;
    padding: 1.5em 0;
}
#portfolio h3 {
    padding: 1em 0;
    text-align: center;
}

#portfolio p {
    padding-bottom: 1.5em;
    text-align: center;
}

/* Contact */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
}

#contact p {
    padding-top: 1.2em;
    text-align: center;
}

#contact-info {
    padding: .5em 0;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p {
    margin: 1.5em 0;
}

p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Media Queries */
@media only screen and (min-width:768px) {
    /* Header */
    .main-header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 1.2em;
    }

    .nav {
        display: flex;
        justify-content: center;
        text-decoration: none;
        margin-bottom: 1.2em;
    }

    li a {
        background-color: whitesmoke;
    }

    li a:hover {
        border-bottom: 1px solid teal;
        color: black;
        background-color: whitesmoke;
    }

    #profile {
        display: flex;
        flex-direction: row-reverse;
    }

    #profile img {
        margin: 0 1.2em;
    }

    #profile p {
        margin: 0 1.2em;
        text-align: left;
    }
    
    /* Portfolio */
    #portfolio {
        display: flex;
        flex-direction: column
    }

    .container {
        display: flex;    
        flex-wrap: wrap;
    }

    #image-1,
    #image-2,
    #image-3,
    #image-4,
    #image-5,
    #image-6 {
        flex: 1 50%;
    }

    /* Contact */
    #contact {
        display: flex;
    }

    #contact p {
        text-align: center;
        width: 85%;
    }

    #contact-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media only screen and (min-width:1024px) {
    /* Header */
    

    



   



    /* Portfolio */
    


    #image-1,
    #image-2,
    #image-3,
    #image-4,
    #image-5,
    #image-6 {
        flex: 1 33%;
    }



}





